div.blog-header {
  padding: 0;

  figure {
    margin-bottom: 0.5rem;

    figcaption {
      font-size: 80%;
      text-align: center;
      line-height: 1rem;
      padding-top: 4px;
    }
  }
}

div.blog-post {
  max-width: 650px;
  margin: auto;

  ul.meta {
    font-size: 80%;
    line-height: 24px;
    margin: 1rem 0 0 0;

    :last-child:before {
      content: '|';
      padding: 0 0.5rem;
    }

    li {
      list-style-type: none;
      display: inline-block;
      line-height: 1rem;
    }
  }
}

