div.blog-header {
  padding: 0;

  figure {
    margin-bottom: 0.5rem;

    figcaption {
      font-size: 80%;
      text-align: center;
      line-height: 1rem;
      padding-top: 4px;
    }
  }
}

div.blog-post {
  ul.meta {
    font-size: 90%;
    line-height: 24px;
    margin: 0 0 1rem 0;
    background: $bw7;
    padding: 4px;
    border-radius: 4px;

    li:first-child:before {
      content: '';
    }
    li:before {
      content: '|';
      padding: 0 0.5rem;
    }

    li {
      list-style-type: none;
      display: inline-block;
      line-height: 1rem;
    }
  }
}

body.dark {
  div.blog-post {
    ul.meta {
      background: $bw2;
    }
  }
}


