body.splash {
  background: url("./img/potm.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0 7.5%;
  header {
    background: transparent;
  }

  div.splash-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 128px);
  }

  div.splash-box {
    padding: 2rem 4rem 1rem 4rem;
    max-width: 600px;
    :first-child {
      margin-top: 0;
    }
  }
}

body.light.splash {
  header {
    background: rgba(255,255,255,0.4);
  }

  div.splash-box {
    background: rgba(255,255,255,0.75);
  }
}

body.dark.splash {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/potm.jpg");
  header {
    background: rgba(0,0,0,0.4);
  }
  div.splash-box {
    background: rgba(0,0,0,0.75);
  }
}
