body.splash {
  background: url("./img/potm.jpg") no-repeat center center fixed;
  background-size: cover;
  header {
    background: transparent;
  }

  div.splash-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 128px);
  }

  div.splash-box {
    padding: 2rem 2rem 0.5rem 2rem;
    max-width: 600px;
  }
}

body.light.splash {
  header {
    background-image: linear-gradient(
      rgba(255,255,255,0),
      rgba(255,255,255,0),
      rgba(255,255,255,0.2),
      rgba(255,255,255,0.25),
      rgba(255,255,255,0.2),
      rgba(255,255,255,0),
      rgba(255,255,255,0)
    );
  }

  div.splash-box {
    background: rgba(255,255,255,0.75);
  }
}

body.dark.splash {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/potm.jpg");
  header {
    background-image: linear-gradient(
      rgba(0,0,0,0),
      rgba(0,0,0,0),
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.25),
      rgba(0,0,0,0.2),
      rgba(0,0,0,0),
      rgba(0,0,0,0)
    );
  }
  div.splash-box {
    background: rgba(0,0,0,0.5);
  }
}
