blockquote { font-size: 1.2rem; }
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }

@include xs-screen {
  blockquote {
    padding: 1.5rem 1rem;
    margin: 1rem -1rem;
    background: $bw7;
    border: 0;
    color: $bw0;
  }
  body.dark blockquote {
    background: $bw2;
    border: 0;
    color: hsla(0, 0%, 100%, 0.8);
    a { color: $linkFaded; }
  }
}

@include sm-screen {
  blockquote {
    padding: 1.5rem;
    margin: 1rem 0;
    background: $bw7;
    border-left: .5rem solid $bw2;
    color: $bw0;
  }
  body.dark blockquote {
    background: $bw2;
    border-left: .5rem solid $bw3;
    color: hsla(0, 0%, 100%, 0.8);
    a { color: $linkFaded; }
  }
}
