a {
  color: $link;
}
body.dark a {
  color: $linkFaded;
}

/** Mark anchor links by preventing text decoration */
a.nodec,
a[href*=\#]:not([href$=\#]) {
  text-decoration: none;
}

/** Yet allow to disable this with the mimic class */
a.mimic[href*=\#]:not([href$=\#]) {
  text-decoration: underline;
}

/** Prevent anchor position from going under static header */
:target:before {
  content: '';
  display: block;
  z-index: -1;
  height: 64px;
  margin-top: -64px;
}

/** Helper for stacked links for image and text on top of it */
.fs-block-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

a.menu {
  color: $primary;
  text-decoration: none;
  font-size: 80%;

  .menu-icon,
  svg.language-icon {
    padding-right: 15px;
  }
}
