svg.language-icon {
  margin-bottom: -6px!important;
}

svg.notification-icon {
  margin: 0 15px 5px 0;
  float: left;
}

.btn-icon,
.btn-spinner {
  margin-right: 15px;
}

.freesewing.draft {
  margin: auto;
  text-align: center;
}
