@include lg-screen {
  .not-on-mobile {
    display: inherit!important;
  }
  .only-on-mobile {
    display: none!important;
  }
  div.cot {
    padding: 0;
    margin: 0;
    padding-left: 1rem;
  }
}
