@include lg-screen {
  .not-on-mobile {
    display: inherit;
  }
  .only-on-mobile {
    display: none;
  }
  div.cot {
    text-align: right;
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
  }
}
