@include md-screen {
  .not-on-mobile { display: inherit!important; }
  td.not-on-mobile, th.not-on-mobile { display: table-cell!important; }
  .not-on-md,
  .only-on-mobile { display: none!important; }
  aside.left { padding-right: 1rem; }
  aside.right { padding-left: 1rem; }
  .pl1nsm { padding-left: 1rem; }

  .stick {
    position: sticky!important;
    top: 84px;
  }

  .scrollable {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
  }
}
