@include md-screen {
  .not-on-mobile {
    display: none!important;
  }
  .only-on-mobile {
    display: inherit!important;
  }
  div.cot {
    max-width: 600px;
  }

  aside.toc,
  aside.cot {
    position: sticky;
    top: 84px;
  }

  aside.toc {
    padding-right: 1rem;
    aside {
      height: calc(100vh - 130px);
      overflow-y: auto;
    }
  }

  div.cot {
    padding-left: 1rem;
  }
}
