@include xs-screen {
  .not-on-mobile {
    display: none;
  }
  .only-on-mobile {
    display: inherit;
  }

  div.page,
  div.docs,
  div.blog-post,
  {
    padding: 0 10%;
  }

  div.blog-header {
    div.meta {
      padding: 0 5%;
    }
  }

  div.toc,
  div.cot {
    position: inherit;
    margin: 0 10%;
    padding: 0;
  }
}

