@include xs-screen {
  .not-on-xs,
  .not-on-mobile {
    display: none!important;
  }
  .only-on-mobile {
    display: inherit!important;
  }

  div.page,
  div.docs,
  div.blog-post,
  {
    padding: 0 10%;
  }

  div.blog-header {
    div.meta {
      padding: 0 5%;
    }
  }

  div.toc,
  div.cot {
    position: inherit;
    margin: 0 10%;
    padding: 0;
  }
  body.splash{
    div.splash-box {
      padding: 2rem 2rem 1rem 2rem;
    }
  }
  .content {
    padding: 0 1rem;
  }
  ul, ol {
    margin: 1rem;
  }
  blockquote {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

