svg.fs-draft.preview {
  max-width: 100%;
  max-height: 90vh;
  /* Reset */
  path,circle,rect{fill:none;stroke:none}

  /* Defaults */
  path,circle{
    stroke-opacity:1;
    stroke-width:.7;
    stroke-linecap:round;
    stroke-linejoin:round;
  }

  /* Stroke classes */
  .note{ stroke-width:.8; }
  .mark{ stroke-width:.8; }
  .contrast{ stroke-width:1.2; }
  .stroke-xs{ stroke-width:.5; }
  .stroke-sm{ stroke-width:.5; }
  .stroke-xl{ stroke-width:1.4; }
  .stroke-xxl{ stroke-width:2.4; }

  .sa { stroke-dasharray:1,3; }
  .help {
    stroke-width:.6;
    stroke-dasharray:15,5,2,5;
  }
  .dotted { stroke-dasharray:2,3; }
  .dashed { stroke-dasharray:2,5; }
  .lashed { stroke-dasharray:8,8; }
  .hidden {
    stroke:none;
    fill:none;
  }

  /* Fill classes */
  .fill-lining{ fill:#ff5b77; }
  .fill-interfacing{ fill:#64b5f6; }
  .fill-canvas{ fill:#ff9000; }
  .fill-various{ fill:#4caf50; }
  .fill-mark{ fill: $link; }
  .fill-contrast{ fill:red; }

  /* Text */
  text{
    font-size:6px;
    font-family: "Open Sans Condensed", "sans-serif";
    text-anchor:start;
    font-weight:200;
    dominant-baseline:ideographic;
  }
  .text-xs { font-size:4px; }
  .text-sm { font-size:5px; }
  .text-lg { font-size:8px; }
  .text-xl { font-size:10px; }
  .text-xxl{ font-size:13px; }

  .center{ text-anchor:middle; }
  .right{ text-anchor:end; }

  /* Plugins */
  text.title-nr {
    font-size: 32px;
    font-family: "Open Sans Condensed", "sans-serif";
    font-weight: bold;
    stroke: none;
  }
}


body.light svg.fs-draft.preview {
  background: $bw9;
  text{fill:$bw1;}
  path,circle{ stroke: $bw1; }
  .fabric{ stroke:$bw1; }
  .lining{ stroke:#ff5b77; }
  .interfacing{ stroke:#64b5f6; }
  .canvas{ stroke:#ff9000; }
  .various{ stroke:#4caf50; }
  .note{ stroke: $bw1; }
  .mark{ stroke: $link; }
  .contrast{ stroke:red; }
  .fill-fabric{ fill: $bw1; }
  .fill-note{ fill: $bw1; }
}
body.dark svg.fs-draft.preview {
  background: $bw1;
  text{fill:$bw9;}
  path,circle{ stroke: $bw9; }
  .fabric{ stroke:$bw9; }
  .lining{ stroke:#ff5b77; }
  .interfacing{ stroke:#64b5f6; }
  .canvas{ stroke:#ff9000; }
  .various{ stroke:#4caf50; }
  .note{ stroke: $bw9; }
  .mark{ stroke: $linkFaded; }
  .contrast{ stroke:red; }
  .fill-fabric{ fill: $bw9; }
  .fill-note{ fill: $bw9; }
  .fill-mark{ fill: $linkFaded; }
}

