div.message {
  background: $primary;
  color: white;
  padding: 2rem 2rem 1rem 2rem;
  margin: 1rem auto;
  border: 0;
  border-left: 10px solid $primary;

  h3:first-of-type {
    margin-top: 0;
  }

  svg {
    float: right;
    margin: -1rem -1rem 0 0;
    color: white;
    font-size: 80px;
  }
}

div.message.warning {
  border-color: orange;
  svg {
    color: orange;
  }
}

div.message.error {
  border-color: #ff1744;
  svg {
    color: #ff1744;
  }
}

div.message.success {
  border-color: #00c853;
  svg {
    color: #00c853;
  }
}

div.message.info {
  border-color: $accent;
  svg {
    color: $accent;
  }
}


body.dark {
  div.message {
    color: $bw4;
    box-shadow: 0 0 2px #cccccc99;
    svg {
      color: $bw4;
    }
  }
  div.message.warning {
    border-color: #ffa500bb;
    box-shadow: 0 0 2px #ffa50099;
    svg {
      color: #ffa500bb;
    }
  }
  div.message.error {
    border-color: #ff1744bb;
    box-shadow: 0 0 2px #ff174499;
    svg {
      color: #ff1744bb;
    }
  }
  div.message.success {
    border-color: #00c853bb;
    box-shadow: 0 0 2px #00c85399;
    svg {
      color: #00c853bb;
    }
  }
  div.message.info {
    border-color: #ff5b77bb;
    box-shadow: 0 0 2px #ff5b7799;
    svg {
      color: #ff5b77bb;
    }
  }
}

