div.mobile-menu {
  background: $secondary;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 0 20px;

  div.mobile-menu-inner {
    margin: 64px auto;
    max-width: 400px;

    hr {
      margin: 0.25rem 0;
      border-top: 1px dashed $bw7;
      color: transparent;
      height: 0;
    }
    a:hover { color: $primary; }
  }
  div.title-font span span {
    @include title-font;
    font-weight: bold;
  }
}

body.dark div.mobile-menu {
  background: $primary;
  div.mobile-menu-inner {
    a,
    h5 a {
      color: $secondary;
    }
    h5 a:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    hr {
      border-color: $bw3;
    }
  }
}

