@mixin xs-screen {
  @media (max-width: 599px) { @content; }
}
@mixin sm-screen {
  @media (min-width: 600px) { @content; }
}
@mixin md-screen {
  @media (min-width: 960px) { @content; }
}
@mixin lg-screen {
  @media (min-width: 1280px) { @content; }
}
@mixin xl-screen {
  @media (min-width: 1920px) { @content; }
}

@mixin shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@mixin shadow-dark {
  box-shadow: 3px 3px 0 #000;
  border: 1px solid $bw3;
}

@mixin shadow-inset {
    box-shadow: rgba(0, 0, 0, 0.4) 0px -20px 6px -18px inset, rgba(0, 0, 0, 0.4) 0px 20px 6px -18px inset;
}

@mixin tray-expanded {
  border-top: 5px solid $primary;
  padding: 2rem;
  padding-bottom: 1rem;
  position: relative;

  .tray-title:first-of-type {
    margin-top: -1rem;
  }
  h3.tray-title {
    margin: 0 0 1rem 0;
    padding: 0;
    line-height: 1.5;
    background: inherit;
    color: inherit;
    font-size: 1.4427rem;
    svg {
      margin: 0 1rem -10px 0;
      width: 36px;
      height: 36px;
      background: $bw6;
      border-radius: 50%;
      padding: 5px;
    }
  }
  .tray-footer {
    margin: 0.5rem -2rem -1rem;
    padding: 0.5rem;
    background: $bw7;
    text-align: right;
  }
  .bio {
    font-size: 110%;
    line-height: 1.3;
  }
  button.traytoggle {
    color: $bw4;
    position: absolute;
    display: block;
    width: 100%;
    text-align: right;
    top: 0;
    right: 0;
    svg {
      margin-right: 5px;
      width: 48px;
      height: 48px;
      background: transparent;
      padding: 0;
    }
  }
  button.traytoggle:hover {
    cursor: pointer;
    color: $primary;
    background-color: transparent;
  }
  button.traytoggle.expand { display: none; }
  button.traytoggle.collapse { display: block; }
  .content { display: block; }
}

@mixin tray-collapsed {
  border: 0;
  padding: 0;
  position: relative;
  h3.tray-title {
    border-radius: 3px;
    font-size: 1rem;
    margin: 0;
    padding: 8px 1rem;
    background: $primary;
    color: $secondary;
    svg {
        margin: 0 1rem -5px 0;
        width: 22px;
        height: 22px;
        background: transparent;
        border-radius: 50%;
        padding: 0;
    }
  }
  button.traytoggle {
    color: $bw4;
    position: absolute;
    display: block;
    width: 100%;
    height: 2rem;
    text-align: right;
    top: 0;
    right: 0;
    svg {
      margin-right: 5px;
      margin-top: -4px;
      width: 48px;
      height: 48px;
      background: transparent;
      padding: 0;
    }
  }
  button.traytoggle:hover {
    cursor: pointer;
    color: $secondary;
    background-color: transparent;
  }
  button.traytoggle.collapse,
  .content { display: none; }
  button.traytoggle.expand { display: block; }
}

@mixin tray-color-expanded($color) {
  border-top-color: $color!important;
  .tray-title {
    svg { color: $color; }
    button.traytoggle svg { color: inherit; }
  }
}

@mixin body-font { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
@mixin title-font { font-family: 'Roboto Condensed', sans-serif; }
@mixin fixed-font { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
