body { @include body-font; }

button,
nav.breadcrumbs {
  @include title-font;
  font-weight: 600;
}
.title-font {
  @include title-font;
}
h1, h2, h3, h4, h5, h6 { color: $bw1;}
body.dark {
  h1, h2, h3, h4, h5, h6 { color: $bw9;}
}

