.wmax {
  width: 100%;
}
.float-right {
  float: right;
}
.grayscale {
  filter: grayscale(100%);
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pr10 {
  padding-right: 10px;
}
.mt10,
button.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}

.content {
  max-width: 650px;
  margin: auto;
}

.inherit-color {
  color: inherit!important;
}
