.wmax {
  width: 100%;
}
.float-right {
  float: right;
}
.grayscale {
  filter: grayscale(100%);
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pr10 {
  padding-right: 10px;
}
.mt10,
a.mt10,
button.mt10 {
  margin-top: 10px;
}
.mr10,
button.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mh60vh {
  min-height: 60vh;
}

.content {
  max-width: 650px;
  margin: auto;
}

.inherit-color {
  color: inherit!important;
}
.align-self-stretch {
  align-self: stretch
}
.box {
  margin: 3rem auto;
  border: 1px dashed #808080;
  padding: 1rem 2rem;
  font-size: 95%;
}
.box.low {
  margin: 1rem auto;
}
.nobg {
  background: transparent!important;
}
.keyval {
  .key {
    display: block;
    font-weight: bold;
  }
  .val {
    display: block;
    font-weight: normal;
    font-size: 90%;
  }
}
.overpad1 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.txt-success {
  color: $success;
}
