$primary: #111;
$secondary: #ffffff;
$link: #2979ff;
$black: #000;
$grey: #ccc;
$pink: #ff5b77;
$success: #1faa00;
$warning: #ff8100;
$danger: #d50000;

body,
body.light {
  background-color: $secondary;
}
div.fs-base {
  margin-top: 64px;
}

@import 'mixins';

@import 'typography';
@import 'elements';
@import 'layouts';
@import 'breakpoints';
@import 'components';

@import 'dark';
@import 'utility';

