$primary: #111;
$secondary: #ffffff;
$link: #2979ff;
$black: #000;
$grey: #ccc;

body {
  background-color: $secondary;
  color: $primary;
}
div.fs-base {
  margin-top: 64px;
}

@import 'mixins';

@import 'typography';
@import 'elements';
@import 'layouts';
@import 'breakpoints';
@import 'components';

@import 'dark';
@import 'utility';

